* {
	font-size: 16px;
	font-family: "UbuntuMono Nerd Font Mono", "UbuntuMono Nerd Font Propo", sans-serif;
	font-weight: 700;
	padding: 0 0px;
}

window#waybar {
	background: #101010;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #101010;
	background: #1a1a1a;
}
#custom-arch {
  color: #1793d1;
  padding: 2px;
  padding-right: 8px;
  font-size: 16px;
}

#custom-gpu-usage {
	color: #6c71c4;
	background: #1a1a1a;
	padding: 0 8px;
  min-width: 10px;
}

#workspaces,
#bluetooth,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#battery,
#disk {
	background: #1a1a1a;
}

#cpu {
	background: #1a1a1a;
  min-width: 10px;
}



#tray {
  background: #101010;
}

#workspaces button {
	padding: 0 0px;
  margin: 0;
  min-width: 0px;
	color: #268bd2;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	padding-right: 6px;
}
#workspaces button.active {
	color: #fdf6e3;
}
#workspaces button:hover {
}
#workspaces button:hover {
}

#pulseaudio {
	color: #2aa198;
}
#memory {
	color: #268bd2;
}
#cpu {
	color: #A957C2;
}
#battery {
	color: #b58900;
}
#disk {
	color: #859900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 8px;
	padding-top: 2px;
}
#taskbar button {
  padding: 0;
  padding-left: 4;
  padding-right: 4;
	margin: 0;
	min-width: 0;
}
